# ***NOTEBOOK FOR `CLEANING` AND `AGGREGATING` THE `OLIST` DATASET***

### ***Creating Connection with the Database***

In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from pathlib import Path
import warnings

warnings.filterwarnings('ignore')

In [2]:
def get_project_root(project_name="portfolio_projects"):
    current_path = Path.cwd()
    if project_name in str(current_path):
        while current_path.name != project_name:
            current_path = current_path.parent
        return current_path
    else:
        for path in current_path.rglob(project_name):
            if path.is_dir():
                return path
        raise FileNotFoundError(f"Could not find project: {project_name}")

repo_root = get_project_root()
data_path = repo_root / "inside_olist_review_analysis"

sys.path.append(str(data_path))

import src.functions as F

In [3]:
engine = F.get_engine()

In [4]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/olist_shopping_dataset)

### ***Creating Aggregated Tables***

In [5]:
query = 'show tables in olist_shopping_dataset'
tables = F.sql(query)
table_names = [col[0] for col in tables.values.tolist()]

In [6]:
table_names

['customers',
 'olist_customers_dataset',
 'olist_geolocation_dataset',
 'olist_order_items_dataset',
 'olist_order_payments_dataset',
 'olist_order_reviews_dataset',
 'olist_orders_dataset',
 'olist_products_dataset',
 'olist_sellers_dataset',
 'order_items',
 'order_payments',
 'order_reviews',
 'orders',
 'product_category_name_translation',
 'products',
 'sellers']

In [7]:
imp_tables = ['customers',
 'order_items',
 'order_payments',
 'order_reviews',
 'orders',
 'products',
 'sellers']

In [8]:
F.select('order_reviews')

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [9]:
F.sql('describe order_reviews')

                     Field  Type Null Key Default Extra
0                review_id  text  YES        None
1                 order_id  text  YES        None
2             review_score   int  YES        None
3     review_comment_title  text  YES        None
4   review_comment_message  text  YES        None
5     review_creation_date  date  YES        None
6  review_answer_timestamp  text  YES        None

In [10]:
order_reviews = F.sql('select review_id,order_id,review_score,review_creation_date from order_reviews')

In [11]:
order_reviews.head()

,review_id,order_id,review_score,review_creation_date
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01

In [12]:
F.select('order_items')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [13]:
query = '''
    select 
        order_id,
        count(distinct product_id) as total_unique_products,
        count(*) as total_items,           -- Safer than max(order_item_id)
        sum(price) as total_order_value,   -- HIGHLY RECOMMENDED
        sum(freight_value) as total_freight, -- HIGHLY RECOMMENDED
        round(avg(price), 2) as avg_price, -- Added precision ,2 
        round(avg(freight_value), 2) as avg_freight,
        case when count(distinct seller_id) > 1 then "YES" else "NO" end as is_multiple_seller
from order_items
group by order_id
'''
order_items_agg = F.sql(query)

In [14]:
order_items_agg.head()

,order_id,total_unique_products,total_items,total_order_value,total_freight,avg_price,avg_freight,is_multiple_seller
0,00010242fe8c5a6d1ba2dd792cb16214,1,1,58.90,13.29,58.90,13.29,NO
1,00018f77f2f0320c557190d7a144bdd3,1,1,239.90,19.93,239.90,19.93,NO
2,000229ec398224ef6ca0657da4fc703e,1,1,199.00,17.87,199.00,17.87,NO
3,00024acbcdf0a6daa1e931b038114c75,1,1,12.99,12.79,12.99,12.79,NO
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,1,199.90,18.14,199.90,18.14,NO

In [15]:
F.select('orders')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02,2017-10-04 19:55:00,2017-10-10,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24,2018-07-26,2018-07-26 14:31:00,2018-08-07,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08,2018-08-08,2018-08-08 13:50:00,2018-08-17,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18,2017-11-18,2017-11-22 13:39:59,2017-12-02,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13,2018-02-13,2018-02-14 19:46:34,2018-02-16,2018-02-26

In [16]:
query = '''
    select 
        order_id,
        order_status,
        timestampdiff(DAY, order_purchase_timestamp, order_approved_at) as approval_time_days,
        datediff(order_delivered_customer_date, order_purchase_timestamp) as delivery_time_days,
        datediff(order_delivered_carrier_date, order_approved_at) as seller_processing_days,
        datediff(order_delivered_customer_date, order_delivered_carrier_date) as transit_days,
        datediff(order_delivered_customer_date, order_estimated_delivery_date) as delivery_diff_days,
        case when order_delivered_customer_date > order_estimated_delivery_date then 'YES' else 'NO' end as is_late
from orders
'''
orders_agg = F.sql(query)

In [17]:
orders_agg.head()

,order_id,order_status,approval_time_days,delivery_time_days,seller_processing_days,transit_days,delivery_diff_days,is_late
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,0.0,8.0,2.0,6.0,-8.0,NO
1,53cdb2fc8bc7dce0b6741e2150273451,delivered,2.0,14.0,0.0,12.0,-6.0,NO
2,47770eb9100c2d0c44946d9cf07ec65d,delivered,0.0,9.0,0.0,9.0,-18.0,NO
3,949d5b44dbf5de918fe9c16f97b45f8a,delivered,0.0,14.0,4.0,10.0,-13.0,NO
4,ad21c59c0840e6cb83a9ceb5573f8159,delivered,0.0,3.0,1.0,2.0,-10.0,NO

In [18]:
query = '''
    WITH PaymentRanking AS (
        SELECT 
            order_id,
            payment_type,
            payment_value,
            -- Rank payment types by value (highest value = rank 1)
            -- If values are equal, it picks one arbitrarily
            ROW_NUMBER() OVER(PARTITION BY order_id ORDER BY payment_value DESC) as rn
        FROM order_payments
    )
    
    SELECT 
        op.order_id,
        -- Takes the type from the highest value payment
        pr.payment_type as primary_payment_type,
        max(op.payment_sequential) as max_attempt,
        max(op.payment_installments) as installment_duration,
        sum(op.payment_value) as total_paid_value
    FROM order_payments op
    -- Join specifically to the #1 ranked payment for this order
    JOIN PaymentRanking pr ON op.order_id = pr.order_id AND pr.rn = 1
    GROUP BY op.order_id, pr.payment_type
'''
payment_agg = F.sql(query)

In [19]:
payment_agg.head()

,order_id,primary_payment_type,max_attempt,installment_duration,total_paid_value
0,00d8d65b666158b633f96054d31af43b,boleto,1,1,130.88
1,03afb3c10af52ddfa3c33b9881bf43f8,credit_card,1,2,131.50
2,02951078a21a2d9341ea16089a4d5031,credit_card,1,12,257.10
3,009ac365164f8e06f59d18a08045f6c4,voucher,6,1,32.00
4,019bdbaef5b5121c9b1811976aa510a5,boleto,1,1,108.64

In [20]:
F.select('customers')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [21]:
query = '''
    select distinct customer_unique_id, customer_state from customers
'''
customers_agg = F.sql(query)

In [22]:
customers_agg.head()

                 customer_unique_id customer_state
0  861eff4711a542e4b93843c6dd7febb0             SP
1  290c77bc529b7ac935b93aa66c333dc3             SP
2  060e732b5b29e8181a18229c7b0b2b5e             SP
3  259dac757896d24d7702b9acbbff3f3c             SP
4  345ecd01c38d18a9036ed96c73b8d066             SP

In [23]:
# 1. Clean the raw product data with YOUR formula
query_product_attributes = '''
    SELECT 
        p.product_id,
        -- English Category
        COALESCE(t.product_category_name_english, p.product_category_name) as category_name,
        p.product_photos_qty,
        -- Your Dimensional Weight Formula
        ROUND((p.product_height_cm * p.product_length_cm * p.product_width_cm) / 6000, 2) as dimensional_weight
    FROM products p
    LEFT JOIN product_category_name_translation t
        ON p.product_category_name = t.product_category_name
'''
products_agg = F.sql(query_product_attributes)

In [24]:
products_agg.head()

,product_id,category_name,product_photos_qty,dimensional_weight
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,1.0,0.37
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1.0,1.80
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,1.0,0.40
3,cef67bcfe19066a932b7673e239eb23d,baby,1.0,0.45
4,9dc1a7de274444849c219cff195d0b71,housewares,4.0,0.74

In [25]:
order_and_products = F.sql('select order_id,product_id from order_items')

In [26]:
order_and_products.head()

                           order_id                        product_id
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd
3  00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc
4  00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089

In [27]:
products_agg.head()

,product_id,category_name,product_photos_qty,dimensional_weight
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,1.0,0.37
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1.0,1.80
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,1.0,0.40
3,cef67bcfe19066a932b7673e239eb23d,baby,1.0,0.45
4,9dc1a7de274444849c219cff195d0b71,housewares,4.0,0.74

In [28]:
order_products_agg = order_and_products.merge(products_agg,on='product_id',how='left').groupby('order_id').agg(
{'category_name': 'nunique',         # Variety
'dimensional_weight': 'sum',        # Total "Shipping Bulk" (Your metric)
'product_photos_qty': 'mean'}
).reset_index()

In [29]:
order_products_agg.head()

,order_id,category_name,dimensional_weight,product_photos_qty
0,00010242fe8c5a6d1ba2dd792cb16214,1,0.59,4.0
1,00018f77f2f0320c557190d7a144bdd3,1,10.00,2.0
2,000229ec398224ef6ca0657da4fc703e,1,2.36,2.0
3,00024acbcdf0a6daa1e931b038114c75,1,0.40,1.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,7.00,1.0

In [30]:
order_products_agg['product_photos_qty']=order_products_agg['product_photos_qty'].round().astype('Int64')

In [31]:
F.select('sellers')

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [32]:
query = '''
    select distinct seller_id, seller_state from sellers
'''
sellers_agg = F.sql(query)

### ***Formation of Aggregated Data***

In [33]:
data = (order_reviews.merge(order_items_agg,on='order_id',how='left').
 merge(payment_agg,on='order_id',how='left').
 merge(orders_agg,on='order_id',how='left').
 merge(order_products_agg,on='order_id',how='left'))

In [34]:
pd.set_option('display.max_columns',None)

In [35]:
data.head()

,review_id,order_id,review_score,review_creation_date,total_unique_products,total_items,total_order_value,total_freight,avg_price,avg_freight,is_multiple_seller,primary_payment_type,max_attempt,installment_duration,total_paid_value,order_status,approval_time_days,delivery_time_days,seller_processing_days,transit_days,delivery_diff_days,is_late,category_name,dimensional_weight,product_photos_qty
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,1.0,2.0,370.00,27.26,185.00,13.63,NO,credit_card,1.0,8.0,397.26,delivered,0.0,6.0,1.0,5.0,-16.0,NO,1.0,10.50,1
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,1.0,1.0,79.79,8.30,79.79,8.30,NO,credit_card,1.0,1.0,88.09,delivered,0.0,9.0,2.0,7.0,-5.0,NO,1.0,0.62,1
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,1.0,1.0,149.00,45.12,149.00,45.12,NO,credit_card,1.0,1.0,194.12,delivered,0.0,13.0,3.0,10.0,-21.0,NO,1.0,1.33,1
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,1.0,1.0,179.99,42.85,179.99,42.85,NO,credit_card,1.0,1.0,222.84,delivered,0.0,11.0,1.0,10.0,-20.0,NO,1.0,1.33,2
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,1.0,1.0,1199.00,134.25,1199.00,134.25,NO,credit_card,1.0,10.0,1333.25,delivered,0.0,18.0,5.0,13.0,-9.0,NO,1.0,30.62,5

In [36]:
cols = ['total_unique_products','total_items','max_attempt','installment_duration','approval_time_days','delivery_time_days','seller_processing_days',
        'category_name','transit_days','delivery_diff_days']

for col in cols:
    data[col] = data[col].astype('Int64')

In [37]:
data.isnull().sum()[data.isnull().sum()>0].reset_index()

                     index     0
0    total_unique_products   759
1              total_items   759
2        total_order_value   759
3            total_freight   759
4                avg_price   759
5              avg_freight   759
6       is_multiple_seller   759
7     primary_payment_type     1
8              max_attempt     1
9     installment_duration     1
10        total_paid_value     1
11      approval_time_days   156
12      delivery_time_days  2865
13  seller_processing_days  1770
14            transit_days  2866
15      delivery_diff_days  2865
16           category_name   759
17      dimensional_weight   759
18      product_photos_qty  2147

In [38]:
cols = ['total_unique_products', 'total_items','total_order_value','total_freight','avg_price','max_attempt', 'installment_duration', 'total_paid_value',
       'avg_freight','dimensional_weight','product_photos_qty','category_name']
for col in cols:
    data[col] = data[col].fillna(0)

In [39]:
data.isnull().sum()[data.isnull().sum()>0].reset_index()

                    index     0
0      is_multiple_seller   759
1    primary_payment_type     1
2      approval_time_days   156
3      delivery_time_days  2865
4  seller_processing_days  1770
5            transit_days  2866
6      delivery_diff_days  2865

In [40]:
cols = ['is_multiple_seller','primary_payment_type']

for col in cols:
    data[col] = data[col].fillna('Unknown')

In [41]:
data['review_creation_date']=pd.to_datetime(data['review_creation_date'])

In [42]:
data.isnull().sum()[data.isnull().sum()>0].reset_index()

                    index     0
0      approval_time_days   156
1      delivery_time_days  2865
2  seller_processing_days  1770
3            transit_days  2866
4      delivery_diff_days  2865

In [43]:
data.head()

,review_id,order_id,review_score,review_creation_date,total_unique_products,total_items,total_order_value,total_freight,avg_price,avg_freight,is_multiple_seller,primary_payment_type,max_attempt,installment_duration,total_paid_value,order_status,approval_time_days,delivery_time_days,seller_processing_days,transit_days,delivery_diff_days,is_late,category_name,dimensional_weight,product_photos_qty
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,1,2,370.00,27.26,185.00,13.63,NO,credit_card,1,8,397.26,delivered,0,6,1,5,-16,NO,1,10.50,1
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,1,1,79.79,8.30,79.79,8.30,NO,credit_card,1,1,88.09,delivered,0,9,2,7,-5,NO,1,0.62,1
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,1,1,149.00,45.12,149.00,45.12,NO,credit_card,1,1,194.12,delivered,0,13,3,10,-21,NO,1,1.33,1
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,1,1,179.99,42.85,179.99,42.85,NO,credit_card,1,1,222.84,delivered,0,11,1,10,-20,NO,1,1.33,2
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,1,1,1199.00,134.25,1199.00,134.25,NO,credit_card,1,10,1333.25,delivered,0,18,5,13,-9,NO,1,30.62,5

### ***Creating New Features***

In [44]:
data['paid_extra']=np.where((data['total_paid_value'] - (data['total_order_value']+ data['total_freight'])).round(2) > 0,'YES','NO')

In [45]:
data['extra_cost'] = (data['total_paid_value'] - (data['total_order_value']+ data['total_freight'])).round(2)

***

In [46]:
F.fetch_all_cols('orders')

['order_id',
 'customer_id',
 'order_status',
 'order_purchase_timestamp',
 'order_approved_at',
 'order_delivered_carrier_date',
 'order_delivered_customer_date',
 'order_estimated_delivery_date']

In [47]:
order_delivery_date = F.sql('select distinct order_id,order_delivered_customer_date,order_estimated_delivery_date from orders')

In [48]:
order_review_date = F.sql('select distinct order_id,review_creation_date from order_reviews')

In [49]:
temp = order_delivery_date.merge(order_review_date,on = 'order_id',how= 'right')

In [50]:
temp.head()

,order_id,order_delivered_customer_date,order_estimated_delivery_date,review_creation_date
0,73fc7af87114b39712e6da79b0a377eb,2018-01-17,2018-02-02,2018-01-18
1,a548910a1c6147796b98fdf73dbeba33,2018-03-09,2018-03-14,2018-03-10
2,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-16,2018-03-09,2018-02-17
3,658677c97b385a9be170737859d3511b,2017-04-20,2017-05-10,2017-04-21
4,8e6bfb81e283fa7e4f11123a3fb894f1,2018-02-28,2018-03-09,2018-03-01

In [51]:
temp['review_creation_date'] = pd.to_datetime(temp['review_creation_date'])
temp['order_delivered_customer_date'] = pd.to_datetime(temp['order_delivered_customer_date'])
temp['order_estimated_delivery_date'] = pd.to_datetime(temp['order_estimated_delivery_date'])

In [52]:
diff_actual = (temp['review_creation_date'] - temp['order_delivered_customer_date'])

# 3. Calculate the Fallback Difference (Review - Estimated Deadline)
# This captures "How long past the deadline did they wait to complain?"
diff_estimate = (temp['review_creation_date'] - temp['order_estimated_delivery_date'])

# 4. Combine them: Use Actual if available, otherwise fill with Estimate
# We use .fillna() to plug the holes
temp['time_to_review'] = diff_actual.fillna(diff_estimate)

# 5. Convert the final result to Hours
temp['time_to_review'] = temp['time_to_review'].dt.total_seconds() / 3600

In [53]:
temp

,order_id,order_delivered_customer_date,order_estimated_delivery_date,review_creation_date,time_to_review
0,73fc7af87114b39712e6da79b0a377eb,2018-01-17,2018-02-02,2018-01-18,24.0
1,a548910a1c6147796b98fdf73dbeba33,2018-03-09,2018-03-14,2018-03-10,24.0
2,f9e4b658b201a9f2ecdecbb34bed034b,2018-02-16,2018-03-09,2018-02-17,24.0
3,658677c97b385a9be170737859d3511b,2017-04-20,2017-05-10,2017-04-21,24.0
4,8e6bfb81e283fa7e4f11123a3fb894f1,2018-02-28,2018-03-09,2018-03-01,24.0
...,...,...,...,...,...
99062,2a8c23fee101d4d5662fa670396eb8da,2018-07-06,2018-07-20,2018-07-07,24.0
99063,22ec9f0669f784db00fa86d035cf8602,2017-12-08,2017-12-20,2017-12-09,24.0
99064,55d4004744368f5571d1f590031933e4,2018-03-21,2018-04-06,2018-03-22,24.0
99065,7725825d039fc1f0ceb7635e3f7d9206,2018-06-30,2018-07-16,2018-07-01,24.0
99066,90531360ecb1eec2a1fbb265a0db0508,2017-07-02,2017-07-12,2017-07-03,24.0

In [54]:
data.head()

,review_id,order_id,review_score,review_creation_date,total_unique_products,total_items,total_order_value,total_freight,avg_price,avg_freight,is_multiple_seller,primary_payment_type,max_attempt,installment_duration,total_paid_value,order_status,approval_time_days,delivery_time_days,seller_processing_days,transit_days,delivery_diff_days,is_late,category_name,dimensional_weight,product_photos_qty,paid_extra,extra_cost
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,1,2,370.00,27.26,185.00,13.63,NO,credit_card,1,8,397.26,delivered,0,6,1,5,-16,NO,1,10.50,1,NO,0.0
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,1,1,79.79,8.30,79.79,8.30,NO,credit_card,1,1,88.09,delivered,0,9,2,7,-5,NO,1,0.62,1,NO,0.0
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,1,1,149.00,45.12,149.00,45.12,NO,credit_card,1,1,194.12,delivered,0,13,3,10,-21,NO,1,1.33,1,NO,0.0
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,1,1,179.99,42.85,179.99,42.85,NO,credit_card,1,1,222.84,delivered,0,11,1,10,-20,NO,1,1.33,2,NO,0.0
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,1,1,1199.00,134.25,1199.00,134.25,NO,credit_card,1,10,1333.25,delivered,0,18,5,13,-9,NO,1,30.62,5,NO,0.0

In [55]:
temp_agg = temp.groupby('order_id')['time_to_review'].min().reset_index()

In [56]:
data = data.merge(temp_agg, on='order_id', how='left')

In [57]:
data[data['time_to_review']<0]

,review_id,order_id,review_score,review_creation_date,total_unique_products,total_items,total_order_value,total_freight,avg_price,avg_freight,is_multiple_seller,primary_payment_type,max_attempt,installment_duration,total_paid_value,order_status,approval_time_days,delivery_time_days,seller_processing_days,transit_days,delivery_diff_days,is_late,category_name,dimensional_weight,product_photos_qty,paid_extra,extra_cost,time_to_review
16,9314d6f9799f5bfba510cc7bcd468c01,0dacf04c5ad59fd5a0cc1faa07c34e39,2,2018-01-18,1,1,166.99,21.66,166.99,21.66,NO,credit_card,1,4,188.65,delivered,0,64,1,63,35,YES,1,1.71,1,NO,0.00,-816.0
32,58044bca115705a48fe0e00a21390c54,68e55ca79d04a79f20d4bfc0146f4b66,1,2018-04-08,1,1,137.00,17.67,137.00,17.67,NO,credit_card,1,6,154.67,delivered,0,26,4,22,5,YES,1,1.60,2,NO,-0.00,-72.0
39,9fd59cd04b42f600df9f25e54082a8d1,3c314f50bc654f3c4e317b055681dff9,1,2017-04-21,2,3,203.00,93.88,67.67,31.29,NO,credit_card,1,2,296.89,delivered,0,39,4,35,5,YES,1,7.41,1,YES,0.01,-72.0
41,eb26c2bfb5030f57dcef30d3f111eb1e,88096595631e8d26b658306256e3ce34,1,2018-02-08,1,1,278.00,20.19,278.00,20.19,NO,credit_card,1,8,298.19,delivered,0,45,3,42,13,YES,1,2.60,1,NO,0.00,-264.0
47,890ec1767be8eb104877db6d68eaade5,b3271f5ebce80cbecb67c5b88487a44a,5,2017-05-13,1,1,15.75,11.85,15.75,11.85,NO,credit_card,1,2,27.60,delivered,0,8,2,6,-15,NO,1,0.56,1,NO,0.00,-48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99098,d2aabe46dcbed6312ac19c0d5bc581bf,cdbe57b33f10dd54db2421744ab4a045,5,2017-09-01,1,1,89.90,34.43,89.90,34.43,NO,credit_card,1,10,124.33,delivered,0,42,4,38,10,YES,1,1.33,2,NO,-0.00,-192.0
99114,7de689e051763e69890f806e43f1ea99,d2cc32c3614a3446aef94cfc1ade79b3,1,2018-03-14,1,1,44.99,14.10,44.99,14.10,NO,credit_card,1,5,59.09,delivered,0,33,7,26,12,YES,1,0.14,5,NO,0.00,-240.0
99144,e5a991ae8286f513e512f0f9fd188f9b,fadb25c91522130892be8a5ddb3e139f,1,2018-04-14,1,1,34.00,15.23,34.00,15.23,NO,credit_card,1,3,49.23,delivered,0,32,1,31,7,YES,1,1.33,5,NO,-0.00,-120.0
99174,cf0b8c06ba024a8a8d3f2ac51fcd99f4,fff2cdc825f9fc0ba3c04227cfa02303,2,2018-03-09,1,1,24.99,25.63,24.99,25.63,NO,boleto,1,1,50.62,delivered,1,38,5,32,6,YES,1,0.14,4,NO,0.00,-72.0
99199,40743b46a0ee86375cedb95e82b78d75,3e93213bb8fdda91186b4018b2fe0030,5,2018-08-08,1,1,122.99,53.21,122.99,53.21,NO,credit_card,1,8,176.20,delivered,1,21,9,11,-2,NO,1,0.95,1,NO,0.00,-336.0

In [58]:
data['time_to_review'].describe()

count    99224.000000
mean        10.609691
std        115.090122
min      -4464.000000
25%         24.000000
50%         24.000000
75%         24.000000
max       1608.000000
Name: time_to_review, dtype: float64

In [59]:
data['reviewed_before_delivery'] = data['time_to_review'].apply(lambda x: 'YES' if x < 0 else 'NO')

In [60]:
data['time_to_review'] = data['time_to_review'].clip(lower=0)

# 3. Convert to Days (Since you likely only have Day precision anyway)
# This makes the numbers easier to read (e.g., "1 day" instead of "24 hours")
data['days_to_review'] = data['time_to_review'] / 24

In [61]:
print(data['days_to_review'].describe())

count    99224.000000
mean         1.059109
std          1.293656
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         67.000000
Name: days_to_review, dtype: float64

In [62]:
data['review_score']=data['review_score'].apply(lambda x: 'low' if x<4 else 'high')

In [63]:
data.drop(columns=['time_to_review'],inplace=True)

In [64]:
data['days_to_review']=data['days_to_review'].astype('Int64')

In [65]:
data.head()

,review_id,order_id,review_score,review_creation_date,total_unique_products,total_items,total_order_value,total_freight,avg_price,avg_freight,is_multiple_seller,primary_payment_type,max_attempt,installment_duration,total_paid_value,order_status,approval_time_days,delivery_time_days,seller_processing_days,transit_days,delivery_diff_days,is_late,category_name,dimensional_weight,product_photos_qty,paid_extra,extra_cost,reviewed_before_delivery,days_to_review
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,high,2018-01-18,1,2,370.00,27.26,185.00,13.63,NO,credit_card,1,8,397.26,delivered,0,6,1,5,-16,NO,1,10.50,1,NO,0.0,NO,1
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,high,2018-03-10,1,1,79.79,8.30,79.79,8.30,NO,credit_card,1,1,88.09,delivered,0,9,2,7,-5,NO,1,0.62,1,NO,0.0,NO,1
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,high,2018-02-17,1,1,149.00,45.12,149.00,45.12,NO,credit_card,1,1,194.12,delivered,0,13,3,10,-21,NO,1,1.33,1,NO,0.0,NO,1
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,high,2017-04-21,1,1,179.99,42.85,179.99,42.85,NO,credit_card,1,1,222.84,delivered,0,11,1,10,-20,NO,1,1.33,2,NO,0.0,NO,1
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,high,2018-03-01,1,1,1199.00,134.25,1199.00,134.25,NO,credit_card,1,10,1333.25,delivered,0,18,5,13,-9,NO,1,30.62,5,NO,0.0,NO,1

In [66]:
data.drop(columns=['order_id','review_id'],inplace=True)

In [70]:
data['review_creation_date']

0       2018-01-18
1       2018-03-10
2       2018-02-17
3       2017-04-21
4       2018-03-01
           ...
99219   2018-07-07
99220   2017-12-09
99221   2018-03-22
99222   2018-07-01
99223   2017-07-03
Name: review_creation_date, Length: 99224, dtype: datetime64[ns]

In [71]:
data['review_month']=data['review_creation_date'].dt.month
data['review_year']=data['review_creation_date'].dt.year
data['is_weekend_review']=data['review_creation_date'].dt.dayofweek.apply(lambda x: 'YES' if x >= 5 else 'NO')
data['day_of_review']=data['review_creation_date'].dt.day_name()

### ***Exporting the Data***

In [72]:
file_path = data_path / "dataset" / "processed_data" / "processed_olist_data.csv"

In [73]:
data.to_csv(file_path,index=False)